body {
  background-color: #282c34;
}

.App {
  margin-top: 50px;
}

.upperScreen {
  display: flex;
  justify-content: center;
}

.total {
  color: white;
}

.button {
  padding: 5px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonNumber {
  margin: 5px;
  width: 50px;
  height: 35px;
  background-color:bisque;
  color: #282c34;
  font-size: large;
  border: 2px solid black;
  border-radius: 4px;
}

.operationButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.operationText {
  color: white;
}

